.my_meta_control .description {
    display: none;
}
.my_meta_control .divide {
    border-bottom:1px dotted #ccc;
	padding-bottom:10px;
}
.my_meta_control label {
    display: block;
    font-weight: bold;
    margin: 12px 6px 0;
}
.my_meta_control label span {
    display: inline;
    font-weight: normal;
}
.my_meta_control span {
    color: #999999;
    display: block;
}
.my_meta_control .divider, .my_meta_control .datebox {
    margin: 15px 0;
	border-bottom:1px solid #ccc;
}
.my_meta_control textarea, .my_meta_control input[type="text"] {
    margin-bottom: 3px;
    width: 99%;
}
.my_meta_control h4 {
    color: #999999;
    font-size: 1em;
    margin: 15px 6px;
    text-transform: uppercase;
}
.warning {
    color: red;
}
.js .warning {
    display: none;
}
.my_meta_control .wpa_group {
    background: none repeat scroll 0 0 white;
    border: 1px solid #DFDFDF;
    border-radius: 6px 6px 6px 6px;
    margin: 6px 10px 8px;
    overflow: hidden;
    position: relative;
}
.my_meta_control .wpa_loop-slides label {
    margin: 0;
    padding: 0;
}
.my_meta_control .wpa_group a.dodelete {
    float: right;
    font-weight: normal;
    position: absolute;
    right: 10px;
    top: 7px;
}
.my_meta_control .wpa_group h3.handle {
    background-color: whiteSmoke;
    background-image: -moz-linear-gradient(center top , #F9F9F9, #F5F5F5);
    box-shadow: 0 1px 0 #FFFFFF inset;
    line-height: 2 !important;
    margin: 0 0 10px;
}
.my_meta_control .customEditor {
    margin: 15px 0;
}
.my_meta_control .customEditor textarea {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
    width: 100%;
}
.my_meta_control .custom_upload_buttons a {
    text-decoration: none;
}
.my_meta_control .wp_themeSkin table.mceLayout {
    background: none repeat scroll 0 0 white;
    border-color: #CCCCCC #CCCCCC #DFDFDF;
    border-style: solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-width: 1px;
}
.my_meta_control .mceLayout span {
    display: inline;
}